<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Bill (Under 18) 200m Back</title>
                        </head>
                        <body>
                            <h3>Bill (Under 18) 200m Back</h3>
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);"/>
                            </svg>2:29.40<br />
                            <svg height="30" width="400">
                                <rect height="30" width="337.65" style="fill:rgb(0,0,255);"/>
                            </svg>2:24.13<br />
                            <svg height="30" width="400">
                                <rect height="30" width="331.47" style="fill:rgb(0,0,255);"/>
                            </svg>2:21.49<br />
                            <svg height="30" width="400">
                                <rect height="30" width="349.2" style="fill:rgb(0,0,255);"/>
                            </svg>2:29.06<br />
                <p>Average time: 2:26:02</p>
            </body>
        </html>
